*.pyc
static/sketches/*
.git2/*
virtualenv/*
syrusakbary.esproj/*
apache2/*
apache/*
_generated_media*.py
_generated_media
static/admin/*
website/local_settings.py
syrusakbary.conf
*.sublime-project
xapian_index
static/media/lab/colorize/songs/*
static/media/images/Sin ti\314\201tulo-4.png

static/media/images/Sin ti\314\201tulo-4.png
