#profile
	@extends $padder_section
	max-width 700px
	margin 76px auto 0

#profile__title
	font-family 'Lucida Grande'
	font-weight bold
	font-size 36px
	color #333333
	line-height 43px
	margin-bottom 34px

#profile__description
	font-family 'Lora'
	font-size 20px
	color rgba(0,0,0,.75)
	line-height 33px
	p
	blockquote
		margin 1.5em 0
	blockquote
		font-size 24px
		color #AAAAAA
		font-style italic
		line-height 1.5em
		padding 23px 2em
		border-left 3px solid #D6D6D6
		+media('lap+')
			padding 15px 1em
	a
		color rgba(0,0,0,.75)
		text-decoration underline