@import 'nib'
@import '_responsive'

global-reset()
reset-html5()

$title-font = "Roboto", sans-serif
$body-font = 'Helvetica Neue', sans-serif
$comic-font = 'Gloria Hallelujah', cursive

// title-font = Roboto
// body-font = Lato

html
	height 100%

a
	text-decoration none

body
	// background: #F0F1F2 // #EDEFF0
	background #F1F2F6
	// background white
	font-family: $body-font
	// font-weight 300
	font-size: 14px
	line-height: 17px
	height 100%
	position relative
