- extends "base.haml"
- set title="Proyectos"
- set body_class="project_list"
- block content
    .grid_16
        #section.prefix_4.grid_4.alpha
            %h1 Proyectos
            %img{'src':'{{ media_url("/images/projects.png") }}'}
        %ul#projects.grid_4
            %li
                %h2 Djinja
                .desc La descripción
            %li
                %h2 Djinja
                .desc La descripción