extends _base
block vars
  - view_name = "index"

block content
  section#intro
    #intro__background
    img#intro__avatar(src="#{STATIC_URL}images/photo.jpg", width="123", height="123", alt="Syrus Akbary")
    p#intro__description!= __('!index.description')
    a#intro__profile-link(href=__("/profile"))= __('View profile')

  section#social
    nav#social__links
      h3#social__guide= __('My networks')
      a#social__twitter(href="https://twitter.com/syrusakbary", target="_blank") @syrusakbary
      a#social__instagram(href="http://instagram.com/syrusakbary", target="_blank") Syrus Akbary Instagram photos
      a#social__facebook(href="https://www.facebook.com/syrusakbary", target="_blank") Facebook of Syrus Akbary
      a#social__github(href="https://github.com/syrusakbary", target="_blank") Syrus Akbary on Github
      a#social__linkedin(href="https://www.linkedin.com/in/syrusakbary", target="_blank") Syrus Akbary on Linked in
