extends _base
block vars
  - header_active = "projects"
  - view_name = "projects"

block content
  section#projects
    .projects__background
    h1#projects__title= __('<Projects>')
    hr#project__line
    ul#project__list
      li.project__item: a#project--medinalia(href="http://medinalia.com", target="_blank") Medinalia
      //- li.project__item: a#project--exercita(href="http://exercita.org", target="_blank") eXercita
      li.project__item: a#project--cineate(href="http://cineate.com", target="_blank") Cinéate
      li.project__item: a#project--incentivalia(href="http://incentivalia.com", target="_blank") Incentivalia
      li.project__item: a#project--vclimo(href="http://vclimo.com", target="_blank") VCLimo
      li.project__item: a#project--report(href="http://reportcomunicacion.com", target="_blank") Report com
      li.project__item: a#project--uspeak(href="https://www.crunchbase.com/organization/uspeak", target="_blank") uSpeak
      li.project__item: a#project--mediante(href="http://mediante.com", target="_blank") Mediante
    span#projects__choose= __('Choose a project')
