{% extends "base.html" %}
{% set title="Blog" %}
{% set body_class="project_detail" %}
{#% block header %}
<div id="project-header" class="container_16 ">
<h1>eXercita</h1>
<div class="description">The new e-learning plataform</div>
<a href="/" id="logo-small" title="Página principal"> 
      		<img width="183" height="26" src="{{ media_url("/images/logo-small.png") }}" alt="Exercita Logo"> 
		</a>
</div>
{% endblock %#}
{% block content %}
<div id="section" class="grid_16">
<h1>eXercita</h1>
<div class="description">The new e-learning plataform</div>
</div>
<div id="side" class="grid_4">
    <div class="section">
        <a href="" class="button">Ver demo</a>
        <a href="" class="button">Descargar</a>
    </div>
    <div class="section">
        <h3 class="title">documentación</h3>
        Uno<br>
        Dos<br>
    </div>
    <div class="section">
        <h3 class="title">tags</h3>
    </div>
    </ul>
</div>
<div class="grid_12">
<div id="articles" class="box">
    <div class="article">
        <h2 class="title">
        Lorem ipsum
        </h2>
        <div class="story">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam placerat enim sed tellus. In adipiscing iaculis metus. Cras arcu quam, adipiscing sed, volutpat et, lobortis vel, elit. Etiam ligula. Cras pede nisl, rutrum sit amet, pharetra vitae, eleifend vel, erat. Curabitur viverra tortor in lacus. Proin at nunc. Duis dictum. Ut id tellus. Mauris libero neque, posuere vel, adipiscing sollicitudin, tempor mattis, nisl. Praesent volutpat. Donec eget lacus id libero viverra ullamcorper. Pellentesque accumsan mauris eu risus accumsan tempor. Ut tristique consequat erat. Donec leo. Proin tempor condimentum velit. Vivamus ultricies leo. Nunc a erat at nisl elementum sodales.

        </div>
    </div>
</div>
</div>

{% endblock %}
{% block footer %}
{% endblock %}

{% block scripts %}
{{super()}}
    <script type="text/javascript">
</script>
{% endblock %}