{% extends "base.haml" %}
{% set title="Sobre mi" %}
{% block content %}
<div id="section" class="grid_11"><h1>Sobre mi</h1>
<!--<div class="description">Qué difícil es describirse a uno mismo...</div>-->
</div>
<div id="about-me" class="grid_11">
<h3 class="s">un poco sobre mi</h3>
<p>Nací el 7 de Noviembre de 1988 en Madrid, España.</p>
<p>Desde pequeño me sentí atraído por la reina de las ciencias abstractas: las matemáticas.<br />
Siempre he sido muy curioso, me encanta aprender y crecer, defiendo el derecho a equivocarse y la obligación de aprender de ello. Me encanta hacerlo, equivoquémonos pues.. ya que si no sería imposible el aprendizaje. </p>
<p>
Di los primeros pasos en Internet cuando comenzó a implantarse en España, allá por 1999. Vi en esta nueva forma de comunicación una enorme utilidad (las cosas son lo que son para nosotros de la forma en que nos pueden ser útiles, a excepción, obviamente, de lo invisible a los ojos)</p>
<p>Disfruto de lo que hago. Soy inquieto, atrevido, entusiasta y seguramente la persona a la que  <a href="{{url('portfolio_list')}}" class="basic">contactarás</a> después de haber visto alguno de <a href="{{url('portfolio_list')}}" class="basic">mis geniales trabajos</a>.</p>
</div>
<div class="grid_5"><img src="{{ media_url("images/me.png")}}" /></div>
<div class="clear"></div>
<div class="grid_6">
	<h3 class="s">habilidades</h3>
	<ul class="detailed_list">
<li><dl><dt class="grid_3 alpha">Lengaujes de programacion</dt>
	<dd class="grid_3 omega">PHP</dd>
	<dd class="grid_3 omega">Python</dd>
	<dd class="grid_3 omega">Java</dd>
	<dd class="grid_3 omega">Javascript</dd>
	<dd class="grid_3 omega">Actionscript</dd>
	<dd class="grid_3 omega">C++</dd>
	<dd class="grid_3 omega">Haskell</dd>
	<dd class="grid_3 omega">Matlab</dd>
	<dd class="grid_3 omega">Maple</dd>
</dl>
<div class="clear"></div>
</li>
<li><dl><dt class="grid_3 alpha">Semánticas</dt>
	<dd class="grid_3 omega">HTML5</dd>
	<dd class="grid_3 omega">CSS2 &amp; CSS3</dd>
	<dd class="grid_3 omega">LaTeX</dd>
</dl><div class="clear"></div>
</li>
<li><dl><dt class="grid_3 alpha">Plataformas</dt>
	<dd class="grid_3 omega">Django</dd>
	<dd class="grid_3 omega">jQuery</dd>
	<dd class="grid_3 omega">Kohana</dd>
</dl><div class="clear"></div>
</li>
<li><dl><dt class="grid_3 alpha">Bases de datos</dt>
	<dd class="grid_3 omega">MySQL</dd>
	<dd class="grid_3 omega">PostgreSQL</dd>
	<dd class="grid_3 omega">MongoDB</dd>
	<dd class="grid_3 omega">Redis</dd>
</dl><div class="clear"></div>
</li>
<li><dl><dt class="grid_3 alpha">Software</dt>
	<dd class="grid_3 omega">Apache</dd>
	<dd class="grid_3 omega">GIT</dd>
	<dd class="grid_3 omega">Fireworks</dd>
	<dd class="grid_3 omega">Flash</dd>
	<dd class="grid_3 omega">Coda</dd>
	<dd class="grid_3 omega">Eclipse</dd>
	<dd class="grid_3 omega">Office 2011</dd>
</dl><div class="clear"></div>
</li>

</div>
<div class="grid_7">
	<h3 class="s">educación</h3>

</div>
{% endblock %}