- load 'media' 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//{{ LANGUAGE_CODE }}">
%html{'xmlns':"http://www.w3.org/1999/xhtml",'lang':"{{ LANGUAGE_CODE }}"}
%head
    - block head
        %title
            - block title
                Syrus Akbary
        %meta{'property':"og:site_name",'content':"Syrus Akbary"}
        %meta{'property':"og:image",'content':'{{ media_url("/images/logo128-black.png") }}'}
        = css("css/all.css")
        -#<!--[if IE 8]>{{ css("css/ie.css") }}<![endif]-->#
        %link{'rel':"shortcut icon",'href':'{{ media_url("/images/favicon.png") }}'}

%body{'class':'{{body_class}}'}
    .flash

    - block header
        #header
            .container_16.wrapper
                %a#logo{'href':'/','title':'Pagina principal'}
                    %img{'width':'203','height':'30','src':'{{ media_url("/images/logo-small.png") }}', 'alt':'Syrus Akbary'}

                %ul#navbar
                    %li
                        %a{'href':'{{ url("main") }}','class':'{{"active" if active("main")}}'}
                            %img{'src':'{{ media_url("/images/home.png") }}','width':'16','height':'16','alt':'Pagina principal'}
    
                    %li
                        %a{'href':'{{ url("blog") }}','class':'{{"active" if active("blog")}}'} Blog
    
                    %li
                        %a{'href':'{{ url("portfolio_list") }}','class':'{{"active" if active("portfolio_list")}}'} Portfolio
                    
                    %li
                        %a{'href':'{{ url("project_list") }}','class':'{{"active" if active("project_list")}}'} Proyectos
                    
                    %li
                        %a{'href':'{{ url("about_me") }}','class':'{{"active" if active("about_me")}}'} Sobre mi
                    
                    %li
                        %a{'href':'{{ url("lab") }}','class':'{{"active" if active("lab")}}'} Lab
                    
                .clear
    #content.container_16
        - block content
    - if messages
        %ul.messagelist
            - for message in messages
                %li message
            
    .clear
    - block footer
    - block scripts
        %script{'type':"text/javascript",'src':"http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"}
        
        :javascript
            !window.jQuery && document.write(unescape('%3Cscript src="{{ media_url("js/jquery-1.5.1.min.js")}}"%3E%3C/script%3E'))
        = js("js/page.js")
        
        :javascript
           $('.tweet_timeline').tweet({
                avatar_size: 32,
                count: 1,
                username: "syrusakbary",
                template: function(i){return '<a href="'+i["tweet_url"]+'">'+i["tweet_raw_text"]+'</a>'}
              });
              $('#contact').click(function(){$(this).addClass('active')});
        
        :javascript
        
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-12613282-2']);
          _gaq.push(['_setDomainName', '.syrusakbary.com']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        = js("scripts/joined.js")