- extends "base.haml"

- block title
  = super()

- set body_class="lab"
- block content
  #section.grid_16
    %h1 Lab
    .description
        Me encanta experimentar, probar cosas nuevas, crear y modificar, descubrir...
        %br
        Bienvenidos a mi patio de recreo