- extends "base.haml"

- block title
  = super()

- set body_class="main"
- block content
  #section.grid_5
      %h1 Hola!
      .description Como ya habrás podido adivinar, mi nombre es Syrus Akbary y entre muchas -muchísimas- otras cosas soy&hellip;
      %a.button{'href':'{{ url("about_me") }}' } Más sobre mi
      %a.button ¡Contacta conmigo!
      
  #i-am.grid_10.push_1
      %a.prev Anterior
      %ul.what.grid_10
          %li.enterprising
              %strong.hn emprendedor
              %div
                  %span
                      adoro
                      %br
                      los nuevos proyectos

          %li.creative.rot270
              %strong.hn creativo
              .creative_box
          
          %li.curious.rot270
              %strong.hn curioso
              %div
                  %span
                      me
                      %br
                      encanta
                      %br
                      aprender
                  %span.newthings.rot90
                      cosas
                      %br
                      nuevas
          
          %li.active.rot180
              %strong.hn activo
              %div
                  %span
                      &hellip;más bien
                      %br
                      imparable

          %li.programmer.rot90
              %strong.hn programador
              %div
                  %span metodico y modular
      
      %a.next Siguiente
- block footer
     #footer.container_16.intro-top
        .grid_5
            %h3.a contacta
            %ul.connections
                %li
                    %b.title.email Email
                    %span.desc 
                      - filter trim|jsencode
                        %a{'href':'mailto:me@syrusakbary.com'} me@syrusakbary.com
                %li
                    %b.title.phone Teléfono
                    %span.desc 
                      - filter trim|jsencode
                        %a{'href':'tel:+34625828486'} 625828468
            .clear
        .grid_5
            %h3.a últimos artículos
            %ul.bullet
              -for entry in last_entries
                %li
                    %a{'href':'{{entry.get_absolute_url()}}'}
                      .title= entry.title|capitalize
            .clear
        .grid_6.last_tweet
             -#.box
             %h3.a twitter
             %span.desc.tweet_timeline.linkable
      .clear
- block scripts
    = super()
    - include_media "js/main.js"
    :javascript
        $('.tweet_timeline').tweet({
            avatar_size: 32,
            count: 1,
            username: "syrusakbary",
            template: function(i){return i["tweet_text"]}
          });
          $('#contact').click(function(){$(this).addClass('active')});
