extends "base.jade"

block title
  != super()

body_class="portfolio"
block content
  #section.grid_16
    h1 Portfolio

  ul.portfolio
    li.grid_7
        a(href='http://www.medinalia.com/')
            img(src=media_url("projects/medinalia.png"))
    li.grid_7.push_2
        a(href='http://exercita.org/')
            img(src=media_url("projects/exercita.png"))
    li.grid_7
        a(href='http://mediante.com/')
            img(src=media_url("projects/mediante.png"))
