{% load 'media' %}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
  <title>Colorize - Syrus Akbary Labs</title>
  {% include_media "lab/colorize/css/all.css" %}
</head>
<body>
<div id="container">
  <div>
    <div class="logo">
      <img id="logo" src="{{ media_url("lab/colorize/images/logo.png")}}" title="Colorize"/>
    </div>
    <div>
      <div class="options">
        <p>
          Para reproducir una cancion tienes que:
        </p>
        <ul class="youcan">
          <li>Arrastrar un archivo directamente, o... </li>
          <li>Seleccionar alguna de estas canciones,
            <a class="song" href="{{ url("colorize",song="estopa") }}">Estopa</a>,
            <a class="song" href="{{ url("colorize",song="scorpions") }}">Scorpions</a>,
            <a class="song" href="{{ url("colorize",song="queen") }}">Queen</a>,
            <a class="song" href="{{ url("colorize",song="mecano") }}">Mecano</a> o...
          </li>
          <li>Solicitar canciones, pruébalo hablando!
            <form>
            <input name="speech" id="speech" type="text" x-webkit-speech/>
            </form>
          </li>
        </ul>
        <div class="likes">
          <div id="fb-root">
          </div>
          <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
          <div class="fb-like" data-href="http://syrusakbary.com/lab/colorize/" data-send="false" data-layout="box_count" data-width="50" data-show-faces="true" data-colorscheme="light">
          </div>
          <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="syrusakbary" data-lang="es">Tweet</a>
          <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
        </div>
      </div>
      <div id="box">
        <div class="spinner">
        </div>

        <canvas id="fft" onclick="randomDrawer();"></canvas>
      </div>
      <div class="playorpause">*Doble click para pausar o reanudar la reproducción</div>
    </div>
  </div>
</div>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js' type='text/javascript'></script>
 {% include_media "lab/colorize/js/all.js" %}
<script>

function getURLforSongView(song) {
    return "{{ url('colorize','__song__') }}".replace('__song__', encodeURIComponent(song));
}


function getURLforSong(song) {
    return "{{ url('colorize_song','__song__') }}".replace('__song__', encodeURIComponent(song));
}

$(document).ready(function () {
    $("a.song").click(function (e) {
        e.stopPropagation();
        e.preventDefault();
        song = this.href.match(getURLforSongView('(.*)'))[1];
        history.pushState({
            path: this.path,
            song: song
        }, '', this.href);
        sound.query(song);
    });

    speech = $('#speech');
    var submit_form = function () {
            var song = $('#speech').val();
            history.pushState({
                song: song
            }, '', getURLforSongView(song));
            sound.query(song);
            return false;
        };
    speech.parent().submit(submit_form)
    speech.bind('webkitspeechchange', submit_form);
    navigator.registerProtocolHandler("web+colorize", location.origin+"{{ url('colorize_song','%s') }}", "Colorize Song");

    $(window).bind('popstate', function (e) {
        song = location.pathname.match(getURLforSongView('(.*)'))[1]
        if (song != '') {
            sound.query(song);
        };
    })

    var fft = $('#fft');
    var canvas = fft[0];
    var ctx = canvas.getContext('2d');
    canvas.width = 210;
    canvas.height = 210;
    ctx.fillStyle = 'rgb(0,0,0)'; //rgba(68,0,3,0.2)
    tmpCanvas = document.createElement("canvas");
    tmpCanvas.widht = canvas.width;
    tmpCanvas.height = canvas.height;
    tmpCtx = tmpCanvas.getContext("2d")
    var sound = new Sound([new BasicWave(), new BasicWave1(), new Circle(), new RotateWave()]);
    var stats = new Stats();
    stats.domElement.style.position = 'absolute';
    stats.domElement.style.left = '0px';
    stats.domElement.style.top = '0px';
    document.body.appendChild(stats.domElement);
    var play_or_pause = function () {
      if (sound.playing) sound.stop();
      else sound.play();
    }
    fft.click(sound.randomDrawer).dblclick(play_or_pause);

    {% if song %}sound.query('{{song}}'); {% endif %}
    window.ctx = ctx;
    window.canvas = canvas;
    window.sound = sound;
    window.tmpCanvas = tmpCanvas;
    window.tmpCtx = tmpCtx;
    window.stats = stats;


});


</script>
<script type='text/javascript'>
// <![CDATA[
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-12613282-2']);
              _gaq.push(['_setDomainName', '.syrusakbary.com']);
              _gaq.push(['_trackPageview']);
              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
// ]]>
</script>
</body>
</html>