- extends "base.haml"
- set title="Blog"
- load 'blog'
- macro display_entry(entry)
                .article
                    -#.date
                    -#   %span.day {{article.publish_date|date("d")}}
                    -#   %span.month {{article.publish_date|date("M")}}

                    %h2.title
                        %a{'href':'{{entry.get_absolute_url()}}'}= entry.title
                    -#.meta
                        -#%span.published Publicado el {{entry.publish_date|date("d \de F \d\e Y | H:i")}}
                        -#.share
                            -#<iframe allowtransparency="true" frameborder="0" role="presentation" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html?url=http://medinalia.com&count=horizontal" width="110" height="20"></iframe>
                            -#<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fmedinalia.com&amp;layout=button_count&amp;show_faces=false&amp;width=110&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:110px; height:20px;" allowTransparency="true"></iframe>
                    .story= entry.content
                    %p.article-meta
                        %span.tags
                          - for tag in entry.tags.all()
                            %a.tag.subtle{'href':'{{url("entrysearch_list",tags=tag.slug)}}'}
                                = tag
                        %span.pubdate {{entry.publish_date|date("d \de F \d\e Y")}}
                        %span.comments 0 comentarios

- block content
    #section.grid_16
        %h1 Blog
    .grid_12
        #articles.box
            - block entries
    #side.grid_4
        %form.section
           %span.glass.left
               %i
           %input.search{'type':'text','placeholder':'Buscar','name':'q','value':'{{search.query}}'}
           
        .section
            %ul.tags
              -for tag in tags
                %li
                    %a.tag{'href':'{{tag_url(tag,search.tags)+("?q=%s"|format(search.query) if search.query else "")}}','class':'{{"pin" if tag.slug in search.tags}}'}= tag
           
       -#.section
       -#    %h2.s top artículos
       -#    Uno
       -#    %br Dos

- block scripts
    = super()
    :javascript
        $(document).ready(function(){
        var element = $('.tag-clouda li');;
        var offset = 0; 
        var stepping = 0;
        var list = $('.tag-clouda');
        var $list = $(list)
        $list.mousemove(function(e){
            var topOfList = $list.eq(0).offset().top
            var listHeight = $list.height()
            stepping = -((e.clientY - topOfList) /  listHeight - 0.5)*0.15;
        });
        $list.mouseleave(function(e){
            stepping = 0
        });

        for (var i = element.length - 1; i >= 0; i--)
        {
            element[i].elemAngle = i * Math.PI * 2 / element.length;
        }
        setInterval(render, 20);
        function render(){
            for (var i = element.length - 1; i >= 0; i--){
                var angle = element[i].elemAngle + offset;
                x = 130 + Math.sin(angle) * 30;
                y = 45 + Math.cos(angle) * 40;
                size = Math.round(40 - Math.sin(angle) * 40);
                var s = 1
                scale = s - Math.sin(angle) * s;
                var elementCenter = $(element[i]).width() / 2;
                var leftValue = (($list.width()/2) * x / 100 - elementCenter) + "px"
                //$(element[i]).css("fontSize", size + "pt");
                $(element[i]).css("-webkit-transform", "scale("+scale+")");
                $(element[i]).css("opacity",size/100);
                $(element[i]).css("zIndex" ,size);
                $(element[i]).css("left" ,leftValue);
                $(element[i]).css("top", y + "%");
            }
            offset += stepping;
        }

        });